@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle,
    rgb(42, 7, 170) 0%,
    rgba(241, 241, 255, 1) 100%
  );
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

html::-webkit-scrollbar {
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-subtext);
  border-radius: 70vw;
}

html::-webkit-scrollbar-track {
  height: 20px;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgb(2, 66, 134) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

.audio--visual {
  height: 20%;
}

.audio--visual.show {
  animation: moveUp 0.3s infinite alternate-reverse;
}

.audio--visual:nth-child(1) {
  background-color: rgb(64, 27, 119);
  animation-delay: 0s;
}

.audio--visual:nth-child(2) {
  background-color: rgb(51, 19, 100);
  animation-delay: 50ms;
}
.audio--visual:nth-child(3) {
  background-color: rgb(36, 11, 75);
  animation-delay: 100ms;
}
.audio--visual:nth-child(4) {
  background-color: rgb(55, 11, 75);
  animation-delay: 150ms;
}
.audio--visual:nth-child(5) {
  background-color: #300843;
  animation-delay: 200ms;
}
.audio--visual:nth-child(6) {
  background-color: #430b4a;
  animation-delay: 70ms;
}
.audio--visual:nth-child(7) {
  background-color: #34093a;
  animation-delay: 120ms;
}
.audio--visual:nth-child(8) {
  background-color: #2d0532;
  animation-delay: 170ms;
}
.audio--visual:nth-child(9) {
  background-color: #350636;
  animation-delay: 10ms;
}
.audio--visual:nth-child(10) {
  background-color: #300431;
  animation-delay: 40ms;
}

.audio--visual:nth-child(11) {
  background-color: #150430;
  animation-delay: 90ms;
}
.audio--visual:nth-child(12) {
  background-color: #300431;
}

@keyframes moveUp {
  from {
    height: 0%;
  }

  to {
    height: 76%;
  }
}
